<hr>
<footer>
  <div class='container'>
    <div class='row'>
      <div class='col-md-4'>
        Copyright
        ©
        Masitbd.com.
        <div class='row'></div>
        <div class='fa fa-envelope'></div>
        <div class='row'></div>
      </div>
      <div class='col-md-4'>
        Privacy policy
        <div class='row'></div>
        Terms and conditions
      </div>
      <div class='col-md-4'>
        About us
        <div class='row'></div>
      </div>
    </div>
  </div>
</footer>
<br>
